<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="user/_Base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
  <section>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">CID</th>
            <th scope="col">photo</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="c : ${contacts}">
            <td th:text="${c.cId}"></td>
            <!-- <td> <img  th:if="${c.image}" alt="img" class="contact_profile" th:src="@{'/static/img/'+${c.image}}"/></td> -->
            <td th:text="${c.name}"></td>
            <td th:text="${c.email}"></td>
            <td th:text="${c.phone}"></td>
            
          </tr>
        </tbody>
      </table>
      <!-- <nav aria-label="Page navigation example" style="position:fixed; bottom:5px " th:if="${contacts}">
        <ul class="pagination">
          <li class="page-item"  th:if="${currentPage+1!=1}"><a class="page-link" href="#" th:href="@{'/user/view_contacts/'+${currentPage-1}}">Previous</a></li>
          <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence( 1,totalPage)}"  class="page-item"><a class="page-link" href="#" th:href="@{'/user/view_contacts/'+${i-1}}"><span th:text="${i}"></span></a></li>
          <li class="page-item" th:if="${currentPage+1!=totalPage}"><a class="page-link" href="#" th:href="@{'/user/view_contacts/'+${currentPage+1}}">Next</a></li>
        </ul>
      </nav> -->
      <nav aria-label="Page navigation example" style="position: fixed; bottom: 5px;" th:if="${contacts}">
        <ul class="pagination">
            <li class="page-item" th:if="${currentPage + 1 != 1}">
                <a class="page-link" href="#" th:href="@{'/user/view_contacts/' + ${currentPage - 1}}">Previous</a>
            </li>
            <li th:classappend="${currentPage == i ? 'active' : ''}" th:each="i : ${#numbers.sequence(1, totalPage)}" class="page-item">
                <a class="page-link" href="#" th:href="@{'/user/view_contacts/' + ${i}}">
                    <span th:text="${i}"></span>
                </a>
            </li>
            <li class="page-item" th:if="${currentPage + 1 != totalPage}">
                <a class="page-link" href="#" th:href="@{'/user/view_contacts/' + ${currentPage + 1}}">Next</a>
            </li>
        </ul>
    </nav>
  
    

</section>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>